@font-face {
    font-family: "TTLakes";
    font-style: normal;
    font-weight: 400;    
    src: local("TTLakes"),         
         url(fonts/TTLakes-Regular.woff) format("woff"), 
         url(fonts/TTLakes-Regular.ttf) format("ttf");         
  }
  
  @font-face {
    font-family: "TTLakes";
    font-style: medium;
    font-weight: 500;    
    src: local("TTLakes"),         
         url(fonts/TTLakes-Medium.woff) format("woff"), 
         url(fonts/TTLakes-Medium.ttf) format("ttf");         
  }

  @font-face {
    font-family: "TTLakes";
    font-style: bold;
    font-weight: 700;    
    src: local("TTLakes-Bold"),         
         url(fonts/TTLakes-Bold.woff) format("woff"), 
         url(fonts/TTLakes-Bold.ttf) format("ttf");         
  }