$background_color: #ffffff;
$border_color: #eaeaea;
$background_color2: #41f6d7;
$text_color: #b5b6bc;
$red_color: #ff3e79;
$box-sh-color: #0e185033;
$width_100: 100%;
$width_90: 90%;
$size_1: 1px;
$size_16: 16px;
$size_24: 24px;
$size_40: 40px;

.popup-feedback_closing {
  display: none;
}

.popup-feedback {
  &__close {
    width: $size_40;
    height: $size_40;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    background-color: $background_color;
    top: $size_24;
    left: $size_16;

    &:hover {
      opacity: 0.6;
      transition: 2s;
    }
  }

  &__header {
    font-size: $size_24;
    position: absolute;
    left: 14px;
    top: 84px;

    &::before {
      display: block;
      content: '';
      position: absolute;
      left: -15px;
      top: -2px;
      width: 3px;
      height: $size_40;
      background-color: $background_color2;
      border-radius: 50px;
    }
  }

  .form {
    &__name {
      width: $width_90;
      height: 48px;
      border: $size_1 solid $border_color;
      border-radius: 5px;
      font-family: 'TTLakes';
      color: $text_color;
      font-size: $size_16;
      padding-left: $size_16;
      position: absolute;
      top: 160px;
      left: $size_16;
    }

    &__phone {
      width: $width_90;
      height: 48px;
      border: $size_1 solid $border_color;
      border-radius: 5px;
      font-family: 'TTLakes';
      color: $text_color;
      font-size: $size_16;
      padding-left: $size_16;
      position: absolute;
      top: 220px;
      left: $size_16;
    }

    &__email {
      width: $width_90;
      height: 48px;
      border: $size_1 solid $border_color;
      border-radius: 5px;
      font-family: 'TTLakes';
      color: $text_color;
      font-size: $size_16;
      padding-left: $size_16;
      position: absolute;
      top: 280px;
      left: $size_16;
    }

    &__textarea {
      width: $width_90;
      height: 118px;
      border: $size_1 solid $border_color;
      border-radius: 5px;
      font-family: 'TTLakes';
      color: $text_color;
      font-size: $size_16;
      padding-left: $size_16;
      position: absolute;
      top: 340px;
      left: $size_16;
    }

    &__text {
      position: absolute;
      top: 500px;
      left: $size_16;

      &_red {
        text-decoration: none;
        color: $red_color;
      }
    }

    &__send {
      background-color: $red_color;
      border: none;
      border-radius: 30px;
      width: 136px;
      height: 32px;
      font-family: 'TTLakes';
      color: $background_color;
      position: absolute;
      right: $size_16;
      top: 600px;
      cursor: pointer;

      &:hover {
        opacity: 0.6;
        transition: 2s;
      }
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .popup-feedback {
    width: $width_100;
    max-width: 440px;
    height: 940px;
    font-family: 'TTLakes';
    background-color: $background_color;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    z-index: 110;
  }
}

@media (min-width: 768px) {
  .popup-feedback {
    position: absolute;
    right: -25px;
    top: 0;
    background-color: $background_color;
    width: 440px;
    height: 940px;
    box-shadow: $size_16 0px 52px 0px $box-sh-color;
    z-index: 110;

    &__close {
      position: relative;
      left: -80px;
    }

    &__header {
      position: relative;
      top: -34px;
    }

    .form {
      position: relative;
      top: -180px;
    }

    .close-back_modal {
      display: none;
    }

    .active-back_modal {
      position: fixed;
      left: 0;
      top: 0;
      height: $width_100;
      width: $width_100;
      z-index: 90;
      background-color: rgba(255, 255, 255, 0.95);
    }
  }
}
